---
layout: personal
title: Spain
permalink: /spain/
---

<h1>Spain</h1>
<table style="width:100%">
<tr>
<td>
<h3>Itenerary</h3>
  <div class="iten">
  <table style="width:100%"> 
    <tr>
      <td nowrap style="padding-right: 15px;">May 30</td><td>Fly Seattle to Madrid</td>
    </tr><tr>
      <td nowrap>May 31</td><td>Explore Madrid</td>
    </tr><tr>
      <td nowrap>June 1</td><td>Madrid</td>
    </tr><tr>
      <td nowrap>June 2</td><td>Travel to San Sebastian/Donostia</td>
    </tr><tr>
      <td nowrap>June 3</td><td>San Sebastian/Donostia</td>
    </tr><tr>
      <td nowrap>June 4</td><td>San Sebastian/Donostia</td>
    </tr><tr>
      <td nowrap>June 5</td><td>Travel to Pamplona</td>
    </tr><tr>
      <td nowrap>June 6</td><td>Walk the Camino de Santiago</td>
    </tr><tr>
      <td nowrap>June 7</td><td>Walk the Camino de Santiago</td>
    </tr><tr>
      <td nowrap>June 8</td><td>Travel to Velencia</td>
    </tr><tr>
      <td nowrap>June 9</td><td>Velencia</td>
    </tr><tr>
      <td nowrap>June 10</td><td>Velencia</td>
    </tr><tr>
      <td nowrap>June 11</td><td>Velencia</td>
    </tr><tr>
      <td nowrap>June 12</td><td>Travel to Alicante</td>
    </tr><tr>
      <td nowrap>June 13</td><td>Alicante</td>
    </tr><tr>
      <td nowrap>June 14</td><td>Travel to Granada</td>
    </tr><tr>
      <td nowrap>June 15</td><td>Granada</td>
    </tr><tr>
      <td nowrap>June 16</td><td>Granada</td>
    </tr><tr>
      <td nowrap>June 17</td><td>Granada</td>
    </tr><tr>
      <td nowrap>June 18</td><td>Travel to Malaga</td>
    </tr><tr>
      <td nowrap>June 19</td><td>Malaga</td>
    </tr><tr>
      <td nowrap>June 20</td><td>Malaga</td>
    </tr><tr>
      <td nowrap>June 21</td><td>Ferry from Malaga to Motrl</td>
    </tr><tr>
      <td nowrap>June 22</td><td>El Hoceima</td>
    </tr><tr>
      <td nowrap>June 23</td><td>Fes</td>
    </tr><tr>
      <td nowrap>June 24</td><td>Tadra Gorge</td>
    </tr><tr>
      <td nowrap>June 25</td><td>Merzouga</td>
    </tr><tr>
      <td nowrap>June 25</td><td>Marrakech</td>
    </tr><tr>
      <td nowrap>June 26</td><td>Casablanca</td>
    </tr><tr>
      <td nowrap>June 27</td><td>Fly Casablanca to Seattle</td>
    </tr>
  </table>
  </div>
</td><td style="padding-left: 10px;">
<h3>Blog</h3>
<div class="posts">
  {% for post in site.posts %}
  {% if post.category == "spain" %}
    <article class="post">    
      
      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}">Read More</a>
      
    </article>
  {% endif %}
  {% endfor %}
</div>
</td></tr>
</table>
