---
layout: personal
title: Spain
permalink: /spain/
---

<h1>Spain</h1>
<table style="width:100%">
<tr>
<td>
<h3>Itenerary</h3>
  <table style="width:100%">
    <tr>
      <td>May 30</td><td>Fly Seattle to Madrid</td>
    </tr><tr>
      <td>May 31</td><td>Explore Madrid</td>
    </tr><tr>
      <td>June 1</td><td>Madrid</td>
    </tr><tr>
      <td>June 2</td><td>Travel to San Sebastian/Donostia</td>
    </tr><tr>
      <td>June 3</td><td>San Sebastian/Donostia</td>
    </tr><tr>
      <td>June 4</td><td>San Sebastian/Donostia</td>
    </tr><tr>
      <td>June 5</td><td>Travel to Pamplona</td>
    </tr>
  </table>
</td><td>
<h3>Blog</h3>
<div class="posts">
  {% for post in site.posts %}
  {% if post.category == "spain" %}
    <article class="post">    
      
      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
      
    </article>
  {% endif %}
  {% endfor %}
</div>
</td></tr>
</table>
