---
layout: personal
title: Spain
permalink: /spain/
---

<h1>Spain</h1>
<table style="width:100%">
<tr>
<td>
<h3>Itenerary</h3>
  <table style="width:100%"> 
    <tr>
      <td nowrap style="padding-right: 15px;">May 30</td><td class="iten">Fly Seattle to Madrid</td>
    </tr><tr>
      <td nowrap>May 31</td><td class="iten">Explore Madrid</td>
    </tr><tr>
      <td nowrap>June 1</td><td class="iten">Madrid</td>
    </tr><tr>
      <td nowrap>June 2</td><td class="iten">Travel to San Sebastian/Donostia</td>
    </tr><tr>
      <td nowrap>June 3</td><td class="iten">San Sebastian/Donostia</td>
    </tr><tr>
      <td nowrap>June 4</td><td class="iten">Day trip to Bilbao</td>
    </tr><tr>
      <td nowrap>June 5</td><td class="iten">Travel to Pamplona</td>
    </tr><tr>
      <td nowrap>June 6</td><td class="iten">Walk the Camino de Santiago to Puenta la Reina</td>
    </tr><tr>
      <td nowrap>June 7</td><td class="iten">Walk the Camino de Santiago to Estella</td>
    </tr><tr>
      <td nowrap>June 8</td><td class="iten">Walk the Camino de Santiago to Los Arcos</td>
    </tr><tr>
      <td nowrap>June 9</td><td class="iten">Travel to Velencia</td>
    </tr><tr>
      <td nowrap>June 10</td><td class="iten">Velencia</td>
    </tr><tr>
      <td nowrap>June 11</td><td class="iten">Velencia</td>
    </tr><tr>
      <td nowrap>June 12</td><td class="iten">Travel to Alicante</td>
    </tr><tr>
      <td nowrap>June 13</td><td class="iten">Alicante</td>
    </tr><tr>
      <td nowrap>June 14</td><td class="iten">Travel to Granada</td>
    </tr><tr>
      <td nowrap>June 15</td><td class="iten">Granada</td>
    </tr><tr>
      <td nowrap>June 16</td><td class="iten">Granada</td>
    </tr><tr>
      <td nowrap>June 17</td><td class="iten">Granada</td>
    </tr><tr>
      <td nowrap>June 18</td><td class="iten">Travel to Malaga</td>
    </tr><tr>
      <td nowrap>June 19</td><td class="iten">Malaga</td>
    </tr><tr>
      <td nowrap>June 20</td><td class="iten">Malaga</td>
    </tr><tr>
      <td nowrap>June 21</td><td class="iten">Ferry from Malaga to Melilla</td>
    </tr><tr>
      <td nowrap>June 22</td><td class="iten">Fes</td>
    </tr><tr>
      <td nowrap>June 23</td><td class="iten">Fes</td>
    </tr><tr>
      <td nowrap>June 24</td><td class="iten">Trip into the desert</td>
    </tr><tr>
      <td nowrap>June 25</td><td class="iten">Return from the desert and travel to Ouarzazate</td>
    </tr><tr>
      <td nowrap>June 26</td><td class="iten">Travel to Marrakech</td>
    </tr><tr>
      <td nowrap>June 27</td><td class="iten">Travel to Casablanca</td>
    </tr><tr>
      <td nowrap>June 27</td><td class="iten">Fly Casablanca to Seattle</td>
    </tr>
  </div>
  </table>
</td><td style="padding-left: 30px;">
<h3>Blog</h3>
<div class="posts">
  {% for post in site.posts %}
  {% if post.category == "spain" %}
    <article class="post">    
      
      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}">Read More</a>
      
    </article>
  {% endif %}
  {% endfor %}
</div>
</td></tr>
</table>
